<aside class="bg-dark">
    <div class="container text-center">
        <div class="resume">
            <h2>Hire Me!</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Download Resume</a>
        </div>
    </div>
</aside>

